/*

!/.gitignore
!/README.md
!/Data
!/Programs
/Programs/**/*
!/Programs/**/
!/Programs/**/*.[rR]
!/Programs/**/*.[sS][aA][sS]
!/Programs/Analysis/*.[rR][dD][aA][tT][aA]
!/References
!/Results
!/shiny
